In [1]:
l = [1,2,3,4,5,"sudh","kumar" , 23.5]
for i in l:
    print(i)

1
2
3
4
5
sudh
kumar
23.5

In [2]:
for i in l:
    pass

In [3]:
s = "Shubham Yadav"
for i in s:
    print(i)

S
h
u
b
h
a
m

Y
a
d
a
v

In [4]:
for i in l :
    print(i)
else:
    print("if for loop is going to complete itself then it will execute else")

1
2
3
4
5
sudh
kumar
23.5
if for loop is going to complete itself then it will execute else

In [5]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print("this will execute only if for is going to complete itself")

1
2
3

In [6]:
l

[1, 2, 3, 4, 5, 'sudh', 'kumar', 23.5]

In [7]:
for i in l:
    if i==4:
        continue
    print(i)
else:
    print("this will execute only if for is going to complete itself")

1
2
3
5
sudh
kumar
23.5
this will execute only if for is going to complete itself

In [8]:
s = "sudhanshu"
for i in s:
    if i == 'n':
        break
    print(i)
else:
    print("print string" , s )

s
u
d
h
a

In [9]:
s = "sudhanshu"
for i in s:
    if i == 'z':
        break
    print(i)
else:
    print("print string" , s )

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [10]:
t = (4,5,6,7,8,6,"sudh")

In [11]:
t

(4, 5, 6, 7, 8, 6, 'sudh')

In [12]:
for i in t:
    print(i)

4
5
6
7
8
6
sudh

In [13]:
b = {4,5,6,7,7,7,8,"sudh"}

In [14]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [15]:
type(b)

set

In [16]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [17]:
d = {'key1':"sudh" , "contact":"sshubham@ineuron.in" , "position":"xyz"}

In [18]:
for i in d:
    print(i)

key1
contact
position

In [19]:
for i in d:
    print(d[i])

sudh
sshubham@ineuron.in
xyz

In [20]:
for i in d:
    print(i , ":" , d[i])

key1 : sudh
contact : sshubham@ineuron.in
position : xyz

In [21]:
range(9)

range(0, 9)

In [22]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
tuple(range(9))

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [24]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [25]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [27]:
list(range(0,20,3))

[0, 3, 6, 9, 12, 15, 18]

In [28]:
list(range(0,20,-1))

[]

In [29]:
list(range(20,0,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
n = 4

In [31]:
n =4 
for i in range(4):
    for j in range(0 , i+1):
        print("shubham", end=" " )
    print("\n")

shubham

shubham shubham

shubham shubham shubham

shubham shubham shubham shubham

In [32]:
t = (3,23,45,67,2,4,5,6)
for i in range(len(t)):
    print(i , t[i] )

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [33]:
s = "ineuron"
for i in range(len(s)):
    print(i , s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [34]:
s = "ineuron"
for i in range(len(s)):
    print(i, s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [35]:
s

'ineuron'

In [36]:
list(range(len(s)-1 , -1 , -1))

[6, 5, 4, 3, 2, 1, 0]

In [37]:
for i in range(len(s)-1 , -1 , -1):
    print(i , s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [38]:
d

{'key1': 'sudh', 'contact': 'sshubham@ineuron.in', 'position': 'xyz'}

In [39]:
for i in d.items():
    print(i , type(i) , type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sshubham@ineuron.in') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [40]:
l = ["sudh" , "kumar",4958861,"shubham@inueron",64646,4461676]

In [41]:
l

['sudh', 'kumar', 4958861, 'shubham@inueron', 64646, 4461676]

In [42]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)
        
print(l1)

[4958861, 64646, 4461676]

In [43]:
d = {1:364645, "name":"sudh" , "email_id":"subh@ineuron.ai" , 234 : "fsfsdfs" , "43" : "afsf" , 234 : "3454"}

In [44]:
d.items()

dict_items([(1, 364645), ('name', 'sudh'), ('email_id', 'subh@ineuron.ai'), (234, '3454'), ('43', 'afsf')])

In [45]:
for i in d:
    if type(i)== int:
        print(i , ":" , d[i])

1 : 364645
234 : 3454

In [1]:
s = "aaaabbccd"

In [2]:
set(s)

{'a', 'b', 'c', 'd'}

In [53]:
for i in set(s):
    print(i , ":" , s.count(i))

c : 2
a : 4
b : 2
d : 1

In [50]:
s

'aaaabbccd'

In [51]:
s.count('a')

4

In [54]:
i = 564564564564968

In [59]:
for j in str(i):
    print(int(j) , type(int(j)))

5 <class 'int'>
6 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
4 <class 'int'>
9 <class 'int'>
6 <class 'int'>
8 <class 'int'>

In [60]:
str(i)

'564564564564968'

In [61]:
type(i)

int

In [77]:
t = ("sudh" , "kumar" , [1,2,3,4,5] , [3,4,5,6] , {3 : 3 , "key2" : "kumar"})

In [78]:
t

('sudh', 'kumar', [1, 2, 3, 4, 5], [3, 4, 5, 6], {3: 3, 'key2': 'kumar'})

In [79]:
for i in t:
    print(i)

sudh
kumar
[1, 2, 3, 4, 5]
[3, 4, 5, 6]
{3: 3, 'key2': 'kumar'}

In [81]:
for i in t:
    if type(i)== list or type(i)== tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for k , v in i.items():
            if k ==3 or v ==3:
                print(k)
                print(v)

3
3
3
3

In [82]:
d = {4:5, "key1":"sudh" , "key2":"kumar"}
for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')